@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fira+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Fira Sans', sans-serif;
  }
}

.App{
  color: white;
  background-color: rgba(0,0, 0, 0);

}

.App:before{
  content: '';
  background: url(./components/ynews_86169584.jpg) no-repeat center center/cover;
  position:absolute;
  width: 100%;
  height: 170vh;
  top: 0;
  left:0;
  z-index: -1;
}













